@model int

@if (Model == 0)
{
    <input type="submit" value="Create" class="btn btn-success" />
}
else
{
    <input type="submit" value="Update" class="btn btn-success" asp-route-id="@Model" />
}
<a asp-action="Index" class="btn btn-primary">Back</a>